<footer class="footer">
  <small>
    <a href="http://iscube.co.in/">Iscube</a>
    Iscube.co.in
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",  'http://iscube.co.in/about_us.html' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><%= link_to "News", 'http://iscube.co.in/news_pub.html' %></li>
      
    </ul>
  </nav>
</footer>