<header class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <h1 style="color:white;">ISCube Blog</h1>
		  
          <nav>
            
          </nav>
        </div>
      </div>
    </header>